<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>{{ title | default: page.fileSlug }}</title>
    <style>
      .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
      }
    </style>
  </head>
  <body>
  <div class="root">
    <div class="main">
      <h1>{{ title | default: page.fileSlug }}</h1>
      <div class="description">{{ description }}</div>
      <div><span class="material-symbols-outlined">mail</span> {{ address }}</div>
      <div><span class="material-symbols-outlined">call</span> {{ phone }}</div>
{{ content }}
    </div>
  </div>
  </body>
</html>